* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

header {
    background-color: #f3f5f6;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #f3f5f6;
}

.texto {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5f6;
}

.texto::placeholder {
    color: #0a3871;
}

.texto::focus,
.texto:active {
    border: none;
    outline: none;
}